<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Quartz服务节点配置-->
  <add key="Description" value="定时任务服务节点"/>
  <add key="DisplayName" value="QuartzServer"/>
  <add key="ServiceName" value="QuartzServer"/>
  <!--Quartz服务节点配置-->
  <!--Quartz服务节点和客户端公用配置-->
  <add key="channelType" value="tcp"/>
  <add key="localIp" value="localhost"/>
  <add key="port" value="998"/>
  <add key="bindName" value="QuartzScheduler"/>
  <!--Quartz服务节点和客户端公用配置-->
  <!--Quartz服务节点数据库连接-->
  <add key="connectionString" value="server=localhost;userid=root;password=chenlong@163.com;persistsecurityinfo=True;database=quartz_net"/>
  <add key="PlatformPrivateKey_Web" value="xxxx"/>
  <!--Quartz服务节点数据库连接-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="owin:appStartup" value="false" />
  <add key="owin:AutomaticAppStartup" value="false" />
  <add key="dllName" value="Quartz.Net_Core.dll"/>
  <add key="FullJobName" value="Quartz.Net_Core.JobExcute.JobItem"/>
  <add key="intanceId" value="333333"/>
</appSettings>