<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Quartz服务节点配置-->
  <add key="Description" value="Bh_Crm定时任务服务节点"/>
  <add key="DisplayName" value="Bh_Crm_QuartzServer"/>
  <add key="ServiceName" value="Bh_Crm_QuartzServer"/>
  <!--Quartz服务节点配置-->
  <!--Quartz服务节点和客户端公用配置-->
  <add key="channelType" value="tcp"/>
  <add key="localIp" value="192.168.8.222"/>
  <add key="port" value="564"/>
  <add key="bindName" value="QuartzScheduler"/>
  <!--Quartz服务节点和客户端公用配置-->
  <!--Quartz服务节点数据库连接-->
  <add key="connectionString" value="server=xxxxx;userid=xxxxx;password=xxxx;persistsecurityinfo=True;database=xxxx"/>
  <add key="PlatformPrivateKey_Web" value="xxxxx"/>
  <!--Quartz服务节点数据库连接-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="owin:appStartup" value="false" />
  <add key="owin:AutomaticAppStartup" value="false" />
  <add key="dllName" value="JobManager_Core.dll"/>
  <add key="FullJobName" value="JobManager_Core.JobExcute.JobItem"/>
</appSettings>